.popup{
	opacity: 0;
	position: fixed;
	top: 50px;
	left: 10px;
	width: 300px;
	transition: opacity 1s;
	background: red;
}
.show{
	opacity: 1;
}

.gras{
	font-weight: bold;
}

.absolute{
    position: fixed;
    bottom: 30px;
    right: 30px;
	z-index: 2;
}